/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

.logo {
    max-width: 250px;
    border-radius: 10px;
}

/* Menu */
nav {
    margin: 20px;
}

select {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 50%;
}

select:focus {
    outline: none;
    border: 2px solid white;
}

/* Área do Catálogo */
#catalogo-container {
    margin-top: 30px;
}

#catalogo-imagem {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.5s ease-in-out;
}

/* Botão de Voltar ao Início */
#reset-btn, #catalogo-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: none;
    text-decoration: none;
}

#reset-btn:hover, #catalogo-btn:hover {
    background-color: grey;
}

/* Rodapé */
footer {
    background-color: white;
    color: black;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 14px;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
